
/* NO COLOR PALLETE IN THIS PROJECT BECAUSE IM SIMPLY PICKING COLORS FROM
ORIGINAL SITE BY EXTENSION IN VCS Color Picker */


/* CONTAINER */
.container{
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 3.2rem;
      padding-bottom: 9.2rem;
    }


  /* grid classes */
.grid{
      display: grid;
      row-gap: 9.6rem;
      column-gap: 3.4rem;
      margin-bottom: 9.6rem;
}

.grid:not(:last-child){
      margin-bottom: 9.6rem;
}
.grid--center-v{
      align-items: center;
}
.grid--2-cols{
      grid-template-columns: repeat(2,1fr);
}
.grid--3-cols{
      grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols{
      grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols{
      grid-template-columns: repeat(5, 1fr);
}
.text-center{
      text-align: center;
}
.dispblock{
      display: block;
}