* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Barlow", sans-serif;        
  }
  html{
    font-size: 62.5%;
  }
  body {
    color: #555;
    line-height: 1;
    font-weight: 400;
    background-color: rgba(250,250,250,255);
  }
  .top-information{
    padding: 1.4rem 0;
    background-color: #3e54a3;
    width: 100%;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: .2rem;
    font-family: "Barlow", sans-serif;
  }
  .icon-case{
    font-size: 2.2rem;
    display: inline-block;
    font-weight: 900;
    font-style: bold;
  }
  .top-information a, .icon-case{
    color: white;
  }
  .header{
    margin: 0 auto;
    padding: 1.8rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin-bottom: 10rem;
  }
  .logo{
    height: 2.8rem;
  }
  .main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .main-nav-link{
    display: block;
    font-style: italic;
    text-decoration: none;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
  }

  .btn,
.btn:link,
.btn:visited{
  display: flex;
  align-items: center;   
  font-size: 1.4rem;
  padding: .8rem 2.2rem;
  border-radius: 50px;
  gap: 2rem;
  text-decoration: none;  
  font-style: italic;
  border:none;
  cursor: pointer;
  background-color: #1c2022;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: .1rem;
}
  
  .logo-github{
    font-size: 2.2rem;
  }

  /* --------------------------------------------------HERO SECTION --------------------------------------------------*/
  .hero-section{
    background: linear-gradient(180deg, rgba(250,250,250,1) 84%, rgba(236,244,244,1) 100%);
    
  }
  .hero{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }
  .hero-button{
    width: 20rem;
  }
  .hero-img{
    width: 130%;
  }
  .hero-textbox{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .heading-primary{
    font-size: 5.2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #3e54a3;
  }
  .hero-description{
    color: #808080;
    font-size: 1.9rem;
    line-height: 1.4;
  }
  .btn--hero,
  .btn--hero:link,
  .btn--hero:visited{
    align-self: flex-start;
    padding: 1rem 2.8rem;
    padding-left: 3rem;
    background-color: #ed2c49;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  .hero-people{
    background-color: rgba(255,255,255,255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    border-radius: 10px;

  }
  .hero-people-graphic{
    width: 18rem;
    height: auto;
  }
 .hero-people-description{
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
  display: inline-block;
  line-height: 1.4;
 }
 .hero-number{
  color: #3d54a4;
  font-weight: 800;
 }
 .hero-box img{
  width: 8rem;
  height: 8rem;
  border-radius: 50px;
 }
 .hero-recommendations{
  padding: 6rem 0;
 }
 .hero-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,255);
  padding: 4rem 2.25rem;
  gap: 3rem;
  border-radius: 1rem;
}
.fa-solid , .fa-quote-left{
  color: rgb(223, 225, 232);
  font-size: 6rem;
}
.hero-opinion{
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 400;
  color: black;
  text-align: center;
}
.hero-person-info{
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
}
.hero-author{
  text-transform: uppercase;
  color: #3e54a3;
  font-weight: 800;
  letter-spacing: .2rem;
}

/* FEATURED SECTION */
.featured-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.featured-logos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.featured-link{
  background-color: rgb(255, 255, 255);
  height: 1rem;
  padding: 5rem 9rem;
  align-content: center;
  border-radius: 10px;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  align-items: center;
}

.heading-secondary{
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  letter-spacing: .2rem;  
}

/* --------------------------------------------PROMO SECTION-------------------------------------------- */
.step-imagebox img{
  width: 100%;
  height: 100%;
}

.step-textbox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.step-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  height: 6.4rem;
  width: 6.4rem;
  font-style: normal;
  background-color: #f0f4f4;
  border-radius: 5rem;
}
.step-heading{
  font-size: 4.4rem;
  font-weight: 500;
}
.step-textbox{
  font-size: 2rem;
  line-height: 1.2;
}

/* --------------------------------------------HOW IT WORKS SECTION-------------------------------------------- */

.how-it-works-img img {
  display: none; 
width: 80rem;
height: 70rem;
}

.how-it-works-img img.active {
 display: block;
}
.how-it-works-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading-how-it-works{
  font-size: 4.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: black;
}

.how-it-works{
  display: flex;
  align-items: center
}

.section-how-it-works{
  background-color: #f0f4f4;
  border-radius: 50px;
}


.detail {
  position: relative;
  padding: 3rem;
  border-radius: 1rem;
  padding-left: 6rem;
}

.detail::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  left: 2%;
  top: 20%;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #5badce;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  font-style: italic;
}

details[open] summary::before {
  display: none;
}

summary {
  font-size: 2.2rem;
  font-weight: 500;
  cursor: pointer;
  line-height: 3rem;
}

.paragraph-details {
  margin-top: 0.5rem;
  color: #555;
  font-size: 1.8rem;
}

.how-it-works-img img {
  display: none;
  max-width: 100%;
  border-radius: 8px;
}

.how-it-works-img img.active {
  display: block;
}

.how-it-works-text {
  counter-reset: step-counter;
}
summary {
  list-style: none;
}




/* --------------------------------------------------SECTION SKILLS-------------------------------------------------- */